<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
  >
    <mat-toolbar color="primary"> Categories </mat-toolbar>
    <mat-nav-list
      class="category-list"
      *ngFor="for; let category; of: categories"
    >
      <mat-list-item class="category-list-item">
        <a matLine [routerLink]="['/', category.categoryId]">
          {{ category.categoryName }}</a
        >
      </mat-list-item>
      <mat-divider style="background-color: #00bcd4"></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
