<mat-toolbar color="secondary" class="main-container">
  <div class="left-container">
    <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon> monetization_on</mat-icon>
    <span>KANAPISHOP</span>
    <mat-icon> monetization_on</mat-icon>
  </div>
  <div class="middle-container">
    <span class="product"
      ><button
        mat-stroked-button
        color="accent"
        class="serachButton"
        (click)="sendSearchText()"
      >
        Search
      </button></span
    >
    <div class="search-container">
      <input
        [(ngModel)]="filterText"
        matInput
        placeholder="Enter Search Text"
        class="search-input"
      />
    </div>
  </div>
  <div class="right-container">
    <button mat-button class="right-container-button">
      <mat-icon>person</mat-icon>
    </button>
    <button
      mat-button
      class="right-container-button"
      routerLink="/products/cart-detail"
    >
      <mat-icon
        [matBadge]="numberOfItems | async"
        matBadgeColor="warn"
        matBadgeSize="small"
        >shopping_cart</mat-icon
      >
    </button>
  </div>
</mat-toolbar>
