<mat-toolbar color="primary">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Products</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
    <mat-icon>add_shopping_cart</mat-icon>
    <mat-icon>arrow_drop_down_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleTheme.emit()">Toogle Theme</button>
  </mat-menu>
</mat-toolbar>
