.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  padding: 10px;
  z-index: 100;

  border-bottom: 1px solid #00bcd4;
}

.left-container,
.right-container {
  display: flex;
  align-items: center;
}

.left-container {
  flex: 1;
}

.right-container {
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: center;
}

.example-spacer {
  flex: 1;
}

.product-card {
  max-width: 500px;
  cursor: pointer;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
mat-card-title {
  color: #dc3545;
}
mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.product-card-container {
  margin-top: 40px;
}
a {
  color: #30e3ca;
  text-decoration: none;
}
.matdivider {
  color: #30e3ca;
}
.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.category-list-item {
  padding: 30px 15px;
}
.active-link {
  color: #c2185b;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8% !important;
}
