<mat-toolbar color="secondary" class="main-container">
  <div class="left-container">
    <mat-icon> monetization_on</mat-icon>
    <span>KANAPISHOP</span>
    <mat-icon> monetization_on</mat-icon>
  </div>
  <div class="right-container">
    <button mat-button class="right-container-button" routerLink="/login">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-button class="right-container-button">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="row">
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Register New User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form *ngIf="registerForm" [formGroup]="registerForm">
        <p>
          <mat-form-field>
            <input
              matInput
              type="email"
              formControlName="email"
              placeholder="Email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            />
            <mat-error>Email is not valid</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="firstName"
              placeholder="First Name"
              minlength="2"
            />
            <mat-error>Field is required</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="lastName"
              placeholder="Last Name"
              minlength="2"
            />
            <mat-error>Field is required</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Password"
              minlength="6"
            />
            <mat-error>Fill with at least 6 characters</mat-error>
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        (click)="register()"
        color="accent"
        [disabled]="!registerForm?.valid"
      >
        Register
      </button>
      <button mat-raised-button (click)="cancelRegister()" color="warn">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</div>
