<mat-card class="product-card" *ngIf="product">
  <mat-card-header>
    <mat-card-title> {{ product.productName | titlecase }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <span>
      <strong>Price:</strong>
      {{ product.unitPrice | vatAdded : 20 | currency : "USD" }}
    </span>
    <span>
      <strong>In Stock:</strong>
      {{ product.unitsInStock }}
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>add_shopping_cart</mat-icon></button>
    <button mat-button><mat-icon>favorite</mat-icon></button>
  </mat-card-actions>
</mat-card>
